[submodule "spring-boot-service-user"]
	path = spring-boot-service-user
	url = https://github.com/BestSoftwareESPE/spring-boot-service-user.git
[submodule "spring-boot-service-paciente"]
	path = spring-boot-service-paciente
	url = https://github.com/BestSoftwareESPE/spring-boot-service-paciente.git
